.dmLink {
    text-decoration: none;
    color: inherit;
}

.dm {
    display: flex;
    padding-bottom: 0.5em;
}

.info {
    display: flex;
    flex-direction: column;
    padding-top: 0.7em;
    padding-left: 0.5em;
}

.info .name, .info .message {
    text-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 10em;
}