.messageArea {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    width: 100%;
}

.memberList {
    width: 15.5em;
    overflow-x: hidden;
    max-height: 100vh;
    overflow-y: scroll;

    flex: none;
    padding-top: 0.5em;
    padding-left: 0.3em;
    scrollbar-width: thin;
    scrollbar-color: var(--accent-color) white;

    background: var(--background-color-less);
}

.messages {
    flex-grow: 1;
    scrollbar-width: thin;
    scrollbar-color: var(--accent-color) white;
}

.channelView {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 100vh;
}
.channelContents {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
.channelTopbar {
    display: flex;
    gap: 0.5em;
    padding: 0.5em;
    background-color: var(--background-color-lesser);
}
.channelName {
    font-style: italic;
    padding-right: 0.5em;
    border-right: 2px solid grey;
}