.loaderWrap {
    position: fixed;
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
}

.loader {
    background-color: white;
    color: black;
}

.loaderText {
    padding-left: 0.5em;
    margin-top: 1em;
}
.loadingMain {
    margin-bottom: 0;
}
.loadingSplashes {
    margin-top: 0;
    font-style: italic;
}
.loadingSubtitle {
    font-size: smaller;
}
.loaderSymbol {
    font-size: larger;
    animation: 2s rotate infinite linear;
    display: inline-block;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}