.quarkList {
    display:flex;
    flex-direction:column;
    flex: 0 0 auto;

    max-height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-right: 0.5em;
    padding-left: 0.3em;
    padding-top: 0.5em;

    background-color: var(--background-color-min)
}
@media(max-width: 700px) {
    .quarkList.closed {
        display: none;
    }
}