.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.ReactModal__Content {
    transform: scaleY(0);
    transition: transform 0.3s cubic-bezier(1.000, -0.250, 0.000, 1.250), max-height 0.3s cubic-bezier(1.000, -0.250, 0.000, 1.250);
    scrollbar-color: var(--accent-color) #2e3035;
    color: var(--text-color-inverted);
}

.ReactModal__Content::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 10px;
}
.ReactModal__Content::-webkit-scrollbar {
    background: #2e3035;
    width: 10px;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.ReactModal__Content--after-open {
    transform: scaleY(1);
}

.ReactModal__Content--before-close {
    transform: scaleY(0);
}