.centerwrap {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.login {
    background-color: white;
    border-radius: 10px;
    color: black;
    width: fit-content;
    padding: 1em;
    /* TODO: Modal bounce for tab changes */
    max-width: 25em;

    transition: all 0.5s ease;
    transform-origin: center;
    overflow: visible;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.characterContainer {
    position: absolute;
    z-index: -1;
    animation: 5s float ease-in-out infinite;
    top: -8.5em;
    left: 0;
    right: 0;
    margin:0 auto;
}

.prideRadial {
    background: var(--pride-conic);
    mask-image: radial-gradient(circle, black 20%, transparent 60%);
    mask-composite: intersect, exclude;
    max-width: 20em;
    height: 20em;

    z-index: -3;
    position: absolute;
    top: -4em;
    left: 0;
    right: 0;
    margin:0px auto;

    animation: rotate 40s infinite linear reverse;
}

.planet {
    z-index: -1;
    position: absolute;
    left:0;
    right:0;
    margin:0 auto;
    width: 11em;
}

.orbs {
    position: absolute;
    top: 4em;
    left: 0;
    right: 0;
    margin:0px auto;
    z-index: -2;

    width: fit-content;
}
.orbwrap {
    position: absolute;
}
.orb {
    width: 2em;
    border-radius: 100%;
}

.orbs .orbwrap:nth-of-type(1) {
    right: 5em;
    transform: rotate(-20deg)
}
.orbs .orbwrap:nth-of-type(2) {
    left: 5em;
    transform: rotate(20deg)
}
.orbs .orbwrap:nth-of-type(3) {
    top: -4em;
    right: 3.5em;
    transform: rotate(-20deg)
}
.orbs .orbwrap:nth-of-type(4) {
    top: -4em;
    left: 3.5em;
    transform: rotate(20deg)
}
.orbs .orbwrap:nth-of-type(5) {
    top: -5.5em;
    left: -0.6em;
}

.orbs .orbwrap:nth-of-type(1) .orb {
    animation: 2s float ease-in-out infinite;
}
.orbs .orbwrap:nth-of-type(2) .orb {
    animation: 3s float ease-in-out infinite;
}
.orbs .orbwrap:nth-of-type(3) .orb {
    animation: 4s float ease-in-out infinite;
}
.orbs .orbwrap:nth-of-type(4) .orb {
    animation: 5s float ease-in-out infinite;
}
.orbs .orbwrap:nth-of-type(5) .orb {
    animation: 6s float ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}