.aviebox {
    display: flex;
    flex-direction: row;
    align-items: center;

    background: var(--background-color-darker);
    padding: 0.5em;
}

.name {
    margin: 0 0 0 0.5em;
}

.logout {
    margin-left: auto;
}