.aviebox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background: var(--background-color-lesser);
    padding: 0.5em;
}

.aviebox span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name {
    margin: 0 0 0 0.5em;
}

.settings {
    margin-left: auto;
}