.channel {
    color: var(--text-color);
    text-decoration: none;
}

.channel {
    display: block;
    padding: 0.5em;
}

.active {
    background-color: var(--background-color-max);
}
.channel:not(.active):hover {
    background-color: var(--background-color-lesser);
}