.emoteSearchWrap {
    background-color: var(--background-color-lesser);
    display: flex;
    flex-direction: column-reverse;
    max-height: 50vh;
    overflow-y: auto;
    gap: 5px;

    scrollbar-width: thin;
}
.emote {
    max-height: 48px;
    min-width: 16px;
}
.emoteWrap {
    display: flex;
    align-items: center;
    padding: 0.2em;
    gap: 0.5em;
}
.emoteWrap[tabindex="-1"] {
    background-color: var(--background-color-less);
}
.emoteMetadata {
    display: flex;
    flex-direction: column;
}
.emoteQuark {
    font-size: smaller;
    font-style: italic;

    display: flex;
    gap: 2px;
    align-items: center;
}