.pfp {
    border-radius: 10px;
}
.pfp.message {
    clip-path: polygon(100% 0, 100% 63%, 84% 76%, 100% 88%, 100% 100%, 0 100%, 0 0);
}

.petting {
    display: inline-block;
    cursor: grab;
    animation: petting 1s infinite;
}
@keyframes petting {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(20deg);
    }
}