.userInfoWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}
.userName {
    font-size: x-large;
}
.userJoinTime {
    font-size: smaller;
}

.profilePictureWrap {
    cursor: pointer;
    height: 80px;
    width: 80px;
}

/* https://github.com/nineplus-sh/Quarky-Classic/blob/senpai/public/client.html#L401 */
.uploadIconWrap {
    color: var(--text-color);
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #00000073;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}
.uploadIcon {
    width: 48px;
    height: 48px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.profilePictureWrap:hover .uploadIconWrap, .uploadIconWrap.uploading {
    display: inline;
}
.uploadIconWrap.uploading .uploadIcon {
    animation: stretchcenter 0.3s forwards infinite;
}
.uploadIconWrap.uploading {
    cursor: default;
}
.uploadBar {
    position: absolute;
    width: 72px;
    height: 70px;

    border: 5px solid;
    border-image: linear-gradient(var(--pride-linear)) 1;
    clip-path: inset(0 0 0 50%);
    transition: clip-path 0.2s ease;
}

@keyframes stretchcenter {
    0% {
        transform: translate(-50%, -50%) scale(1)
    }
    50% {
        transform: translate(-50%, -30%) scale(1, 0.5);
    }
}