:root {
  --accent-color: #00A8F3;
  --darker-accent-color: #007db5;

  --background-color: #0194da;
  --background-color-dark: #00729f;
  --background-color-darker: #005678;
  --background-color-darkest: #00354a;

  --text-color: white;
  --text-color-dark: black;
  color: var(--text-color)
}

body {
  margin: 0;
}