.botTag {
    border-radius: 5px;
    font-size: 0.8em;
    padding: 0.1em 0.2em;
    background-color: var(--accent-color);
    text-transform: uppercase;
}

.discord {
    background-color: #161cbb;
}