.channelList {
    width: 15.5em;
    overflow-x: hidden;
    max-height: 100vh;
    overflow-y: scroll;

    flex: none;
}

.messageArea {
    display: flex;
    flex-direction: column;
    width: 100%;
}