.header {
    width: 100%;
    background-color: var(--accent-color);
    height: 60px;
    display: flex;
}

.header h1, .header p {
    margin: 0;
}

.header h1 {
    font-size: 1em;
}

.header p {
    margin-top: -0.2em;
}

.headerText {
    display: flex;
    flex-direction: column;
    padding-top: 0.7em;
}

.headerLogo {
    width: 48px;
    height: 48px;
    padding: 6px;
}

.header p {
    padding-left: 1em;
}

.headerShadow {
    height: 5px;
    background-color: var(--darker-accent-color);
    width: 100%;
    content: ""
}