.sidebarContents {
    margin-right: 10px;
    text-align: right;

    max-width: 196px;
}
.sidebarHeader {
    display: flex;
    align-items: center;
    justify-content: right;

    font-size: smaller;
}
.separator {
    margin: 1em 0;
    height: 1px;
    background-color: var(--background-color-lesser);
}

.nineplus {
    width: 4em;
}

.version {
    display: flex;
    font-size: smaller;
    gap: 10px;
}

.sns a {
    color: var(--text-color)
}

.sns {
    display: flex;
    gap: 5px;
    justify-content: right;
}

.snsIcon {
    width: 1.5em;
    height: 1.5em;
}